<div class="container-fluid">
    <%= form_for(@group) do |f| %>
        <ol>
            <% @friends_to_add.each do |friend| %>
                <li>
                    <%= check_box_tag("friend[#{friend.id}]", friend.id) %>
                    <%= label_tag("friend[#{friend.id}]", friend.name) %>
                </li>
            <% end %>
        </ol>
        <% if @view == "add" %>
            <%= f.submit "Add friends to group", class: "btn btn-primary" %>
        <% else %>
            <%= f.submit "Remove friends from group", class: "btn btn-primary" %>
        <% end %>
    <% end %>
</div>
