<%= form_for(@group, url: url) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Group name:" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <% if view == "new" %>
    <%= f.submit "Create group", class: "btn btn-primary" %>
  <% else %>
    <% unless @members.empty? %>
      <div class="form-group">
        <h5>Members to make admins:</h5>
        <ol>
          <% @members.each do |member| %>
            <li>
              <%= render "memberships/membership_checkboxes", member: member %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <%= f.submit "Update group", class: "btn btn-primary" %>
  <% end %>
<% end %>
