<% provide(:title, @user.name) %>
<div class="container-fluid">
    <div class="jumbotron">
        <p><%= link_to "All Users", users_path %></p>
        <p><%= @user.name %></p>
        <% if current_logged_in_user_is?(@user) %>
            <p><%= link_to "Create new group", new_user_group_path(user_id: @user.slug), class: "btn btn-primary" %></p>
            <p>All groups: </p>
            <% if @groups != nil %>
                <ol id="groups-ol">
                <% @groups.each do |group| %>
                    <% group_id = group.id %>
                    <li>
                        <%= link_to group.name, user_group_path(user_id: @user.slug, id: group.slug) %>
                    </li>
                <% end %>
                </ol>
            <% end %>
        <% end %>
        <% if @user.friends.any? %>
            <% count = @user.friends.count %>
            <p><%= link_to "Friends list (#{count})", user_friends_path(user_id: @user.slug) %></p>
        <% end %>
        <%= render 'friendships/befriend_form' unless current_logged_in_user_is?(@user) %>
    </div>
</div>
