<% provide(:title, @user.name) %>
<div class="container-fluid">
    <div class="jumbotron">
        <p><%= link_to "All Users", users_path %></p>
        <p>Your name is: <%= @user.name %></p>
        <p>Your email is: <%= @user.email %></p>
        <% if current_logged_in_user_is?(@user) %>
            <p>Edit your information <%= link_to "here.", edit_user_path %></p>
        <% end %>
        <% if @user.friends.any? %>
            <% count = @user.friends.count %>
            <p><%= link_to "Friends list (#{count})", friends_user_path(@user.id) %></p>
        <% end %>
        <%= render 'friendships/befriend_form' unless current_logged_in_user_is?(@user) %>
    </div>
    <% if current_logged_in_user_is?(@user) %>
        <div>
            <%= render 'posts/new_post' %>
        </div>
        <div class="jumbotron" id="feed">
            <ol class="posts">
                <%= render @feed %>
            </ol>
        </div>
    <% else %>
        <div class="jumbotron">
            <ol class="posts">
                <%= render @all_posts %>
            </ol>
        </div>
    <% end %>
</div>
